

<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<tbody><tr>
    <td class="spacer py-sm-20" height="20"></td>
  </tr>
  <!-- Illustration -->
  <tr>
    <td style="padding: 0 0;">
      <table role="presentation" width="100%" cellspacing="0" cellpadding="0" align="center">
        <tbody><tr>
          <td class="col" style="vertical-align: middle;" width="400" align="center">
            <img src="http://www.stampready.net/dashboard/editor/user_uploads/zip_uploads/2019/05/26/JTXGxk8fBVuqOlPNp1ybgIZD/Stampready/images/1_.png" alt="new Store Location" width="224">
          </td>
        </tr>
      </tbody></table>
    </td>
  </tr>
  <!-- space -->
  <tr>
    <td class="spacer py-sm-20" height="20"></td>
  </tr>
  <tr>
    <td style="padding: 0 36px;">
      <table role="presentation" width="100%" cellspacing="0" cellpadding="0" align="center">
        <!-- Content -->
        <tbody><tr>
          <td class="col" style="vertical-align: middle;" width="400" bgcolor="" align="center">
            <h2 style="color:000000; margin-bottom: 10px;" data-color="Heading">
              Hi, <span style="color:#4267B1" data-color="Headline Span">Intertarik</span>
            </h2>
            <p data-color="Paragraph" class="selected-element" contenteditable="true">
              Thank you for registering to EVENT NAME. Your registration and payment has been received.
              <br>
              <br>
              If you would like to view your registration details, you can login at the following:
            </p>
            <div class="spacer py-sm-20" style="line-height: 30px;">‌</div>
            <table role="presentation" cellspacing="0" cellpadding="0" align="center">
              <tbody><tr>
                <th style="border-radius: 50px; line-height: 100%; mso-padding-alt: 5px 50px 10px;" data-bgcolor="Button Bg" bgcolor="#4267B1">
                  <a href="http://exemple.com" class="quicksand" style="color: #FFFFFF; display: block; font-size: 14px;font-weight: 700; text-transform: uppercase ; padding: 10px 50px; text-decoration: none;" data-color="Button">
                    View Profil
                  </a>
                </th>
              </tr>
            </tbody></table>
          </td>
        </tr>
        <!-- Bottom Space -->
        <tr>
          <td class="spacer py-sm-20" height="40"></td>
        </tr>
      </tbody></table>
    </td>
  </tr>
</tbody>


</html>